@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shippori Antique', sans-serif;
}

img {
    height: 30px;
}

body {
    display: grid;
    grid-template: minmax(min-content, max-content) 4fr / 1fr 3fr;
    min-height: 100vh;
    max-height: fit-content;
}

/* ------------------ NAV BAR ------------------ */

.nav-bar {
    background-color: #e2e2e2;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 20px;
    font-size: 1.2em;
}

.nav-bar li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* ------------------ HEADER ------------------ */

.header {
    background-color: #c6c6c6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* ------------------ TOP HEADER SECTION ------------------ */


.top-header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.search-section {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1
}

.profile-section {
    display: flex;
    gap: 15px;
    align-items: center;
}

.top-header-section input[type='text'] {
    background-color: white;
    border: black solid 3px;
    flex: 1;
    max-width: 30vw;
    height: 35px;
}

.top-header-section .profile-picture {
    background-color: grey;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

/* ------------------ BOTTOM HEADER SECTION ------------------ */

.bottom-header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-header-section button[type='button'] {
    background-color: white;
    padding: 5px 20px;
    border: black solid 3px;
    cursor: pointer;
}

.button-section {
    display: flex;
    gap: 30px;
}

.header-profile-picture {
    height: 50px;
    width: 50px;
    background-color: grey;
    border-radius: 50%;
}

.bottom-header-section div:nth-child(2) {
    font-size: 0.8em;
}

.bottom-header-section h2 {
    font-size: 1.8em;
} 

/* ------------------ MAIN ------------------ */


.main {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.content {
    background-color: #a1a1a1;
    grid-row: 1 / -1;
}

.announcements {
background-color: #838383;
}

.trending {
    background-color: #626262;
}